<b>Name:</b>
<p><%= @album.name() %></p>

<a href="/albums/<%= @album.id %>/edit">Edit</a>

<img src="/images/image<%= @album.id %>.jpeg" alt="Cover" height="150" width="150">


<form action="/albums/<%= @album.id %>" method="post">
<input type="submit" value="Delete"/>
<input name="_method" type="hidden" value="Delete"/>
</form>
